<?xml version="1.0"?>
<launch>
    <!-- SOGMM ROS Node Launch File -->

    <rosparam command="load" file="$(find gmms_exploration)/config/exploration_config.yaml" />
    
    <arg name="omp_threads" default="$(optenv OMP_NUM_THREADS 8)" />
    <param name="omp_num_threads" value="$(arg omp_threads)" />

    <node name="sogmm_odom" pkg="gmms_exploration" type="sogmm_odometry_node.py"
      launch-prefix="bash -c 'cd /home/niedzial/gira/gira3d-reconstruction &amp;&amp; source .venv/bin/activate &amp;&amp; source workon &amp;&amp; exec &quot;$@&quot;' bash">
    </node>
    
    <node name="sogmm_node" pkg="gmms_exploration" type="sogmm_ros_node.py" output="screen"
      launch-prefix="bash -c 'cd /home/niedzial/gira/gira3d-reconstruction &amp;&amp; source .venv/bin/activate &amp;&amp; source workon &amp;&amp; exec &quot;$@&quot;' bash">    
    </node>
    
    <arg name="rviz" default="false" />
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find gmms_exploration)/config/sogmm_rviz.rviz" />
    
</launch>