<?xml version="1.0"?>
<launch>
    <!-- SOGMM ROS Node Launch File -->

    <node name="sogmm_odom" pkg="gmms_exploration" type="sogmm_odometry_node.py"
          launch-prefix="bash -c 'cd /home/niedzial/gira/gira3d-reconstruction &amp;&amp; source .venv/bin/activate &amp;&amp; source workon &amp;&amp; exec &quot;$@&quot;' bash">
    </node>
    
    <node name="sogmm_node" pkg="gmms_exploration" type="sogmm_ros_node.py" output="screen"
          launch-prefix="bash -c 'cd /home/niedzial/gira/gira3d-reconstruction &amp;&amp; source .venv/bin/activate &amp;&amp; source workon &amp;&amp; exec &quot;$@&quot;' bash">
        
        <!-- SOGMM Algorithm Parameters -->
        <param name="bandwidth" value="0.02" />
        <param name="tolerance" value="1e-10" type="double" />
        <param name="reg_covar" value="1e-10" type="double" />
        <param name="max_iter" value="100" type="int" />
        <param name="kl_div_match_thresh" value="50.0" />
        
        <!-- Visualization Parameters -->
        <param name="enable_visualization" value="true" />
        <param name="visualization_scale" value="2.0" />
        <param name="color_by" value="confidence" />
        <!-- Options: intensity, confidence, stability, combined -->
        <param name="add_metric_text" value="true" />
        <param name="suspicious_displacement" value="0.001" />
        <param name="unstable_displacement" value="0.4" />
        <param name="displacement_score_factor" value="0.15" />

        <!-- the bigger the scaler the longer it takes to decrease uncertainty -->
        <param name="uncertainty_scaler" value="2.0" />
        <param name="uncertainty_heuristic" value="confidence" />
        <!-- Options: intensity, confidence, stability, combined -->
        
        <!-- Processing Parameters -->
        <param name="processing_decimation" value="1" />
        <param name="min_novel_points" value="500" />
        <param name="target_frame" value="map" />
        
        <!-- Pruning Parameters -->
        <param name="max_fusion_ratio" value="0.4" />
        <param name="prune_min_observations" value="5" />
        <param name="prune_interval_frames" value="10" />
    </node>
    
    <arg name="rviz" default="false" />
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find gmms_exploration)/config/sogmm_rviz.rviz" />
    
</launch>